* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: auto;
}

.heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.btn {
  margin: 2rem;
  padding: 1rem;
  border: 2px solid black;
  background-color: orange;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 1rem;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  color: orange;
  background-color: black;
}
